body {
  margin: 0;
  background-color: #D8D8D8;
  width: 10px;
  height: 10px;
}

.header {
  width: 10px;
  height: 10px;
  background-color: #444444;
}

.main-content {
  background-color: #EFEFEF;
  margin: 0 auto;
  width: 100px;
  height: 200px;
}

.footer { 
  background-color: #222222;
  margin: 0 auto;
  width: 10px;
  height: 10px;
}